*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  height: 100dvh;

  margin-top: 8rem;
  margin-left: 8rem;
  padding: 1rem;
  font-family: figtree, "sans-serif";

  background: white;
}

main {
  display: flex;
}

.form-layout {
  position: relative;
  padding: 2rem;
}

.form-layout h1 {
  margin-bottom: 3rem;
}

:is(.email-container, .password-container) {
  position: relative;
  display: flex;
  align-items: center;
}

:is(.email-container, .password-container) :is(label, ion-icon) {
  position: absolute;
}

.email-container,
.password-container {
  margin-bottom: 1rem;
}

label {
  left: 0.6rem;
  color: rgba(54, 54, 54, 0.884);
}

ion-icon {
  right: 0.6rem;
  color: rgba(54, 54, 54, 0.884);
}

input[type="email"],
input[type="password"] {
  width: 100%;

  padding-block: 1.2rem;
  padding-inline: 0.6rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: rgba(238, 237, 237, 0.685);
  outline: none;
}

a.no-password {
  display: block;
  position: absolute;
  right: 2rem;

  margin-bottom: 1rem;
  color: rgba(54, 54, 54, 0.884);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-top:2rem;
  margin-bottom: 2.5rem;
  padding: 0.8rem;
  border: 1px solid transparent;
  border-radius: 3.125rem;
  background-color: rgb(77, 151, 248);
  cursor: pointer;

  transition: all 0.3s;
}

button:hover {
  background-color: white;
  color: rgb(77, 151, 248);
  border: 1px solid rgb(77, 151, 248);
}

.login-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  margin-bottom: 2rem;
}

.login-links p {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(54, 54, 54, 0.884);
}

.login-links a {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  border-radius: 0.5rem;

  /* EEFECTS */
  box-shadow: 1px 1px 4px 1px rgba(133, 133, 133, 0.486);
}

.login-links a img {
  width: 1.5rem;
}

.account {
  text-align: center;
}

.account :is(span, a) {
  font-size: 0.8rem;
  font-weight: 600;
}

.account span {
  color: rgba(54, 54, 54, 0.884);
}

.account a {
  color: rgb(77, 151, 248);
  text-decoration: none;
}

.account a:hover {
  text-decoration: underline;
}

/* ANIMATIONS */
:is(.email-container, .password-container) label {
  font-size: 1rem;
  transform: translate(0, 0);
  transition: all 0.3s;
}

:is(.email-container:focus-within, .password-container:focus-within) label {
  font-size: 0.7rem;
  transform: translate(0, -1rem);
}
/* END OF ANIMATIONS */
